<footer class="footer">
    <div>
        <div class="container">
            <div class = "footer-block">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link link-secondary px-2 px-md-3" href="/issues">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary px-2 px-md-3" href="/issues/new">Create new issue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary px-2 px-md-3"  href="/users/logout">Logout</a>
                    </li>
                   
                </ul>
            </div>
            
            <div class = "footer-block">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <p>Last update: 12.4.2024</p>
                    </li>
                    <li class="nav-item">
                        <p>Project for UHK FIM</p>
                    </li>
                </ul>
            </div>
        </div>
    

    </div>
</footer>