:root {
  --color1: #F4E285;
  --color2: #F4A259;
  --color3: #8CB369;
  --color4:#4F6F52;
}
nav .navbar{
  background-color: var(--color1);
  color: whitesmoke;
  margin-bottom: 2%;
}

.btn{
  background-color: var(--color3);
  border: 0cm;
}
.issue .issue-form{
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;
}

.issue-form-edit{
  margin: 1% 16%;
}

.container-form-part{
  margin-bottom: 2%;
}

.container-form-part-with-button{
  display: flex;
  justify-content: space-between;
}

a{
  color: var(--color3);
}

a:hover{
  color: var(--color4);
}

.btn:hover{
  background-color: var(--color4);
}

input[type='checkbox'] {
  accent-color: var(--color3);
  color:white
}

