:root {
  --color1: #F4E285;
  --color2: #F4A259;
  --color3: #8CB369;
  --color4:#4F6F52;
}

nav .navbar{
  background-color: var(--color1);
  color: whitesmoke;
  margin-bottom: 2%;
}
.navbar-nav{
  margin: 0 12%;
}

.container-main{
  margin: 0 12%;
}
.container-centered{
  padding: 0 24%;

}
.container-startpage{
  margin-top: 6%;
}
.container-startpage form{
    background-color: #fcf9e8;
    border-radius: 6%;
    padding: 4%
}
.container-startpage h1{
  padding: 4%
}
.new-task-link{
  margin: 1%;
}
.form-group{
  padding: 1% 0;
}

.btn{
  background-color: var(--color3);
  border: 0cm;
}
.issue .issue-form{
  display: flex;
  justify-content: space-between;
  padding: 1% 0%;
}



.container-form-part-with-button span, 
.container-form-part-with-button a{
  padding-right: 10%;
}

.issue-form-edit{
  margin: 1% 16%;
}

.container-form-part{
  margin-bottom: 2%;
}

.container-form-part-with-button{
  display: flex;
  justify-content: space-between;
}

.details-group{
  display: flex;
}
.details-group p {
  padding-right: 1%;
}
.details-group-name{
  font-size: 120%;
  margin-bottom: 2% ;
}

.el-centered{
  display: flex;
  flex-direction: column;
  margin-top: 8%;
}
.el-centered .btn{
  margin-left: 32%;
}

a{
  color: var(--color3);
}

a:hover{
  color: var(--color4);
}

.btn:hover{
  background-color: var(--color4);
}

input[type='checkbox'], .form-check-input {
  accent-color: var(--color3);
  color:white
}

